APP_ENV=development
PORT=8000
HOST=0.0.0.0

GOOGLE_API_KEY=your_gemini_api_key_here

JWT_TOKEN=your_jwt_token_here

PROJECT_API_BASE_URL=https:// /project-api  
EMPLOYEE_API_BASE_URL=https:// /employees-api

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=my_blazeup_agent_db
